body {
    background-color: #f8f9fa;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 20px;
}

img{
    border: 1px solid whitesmoke;
    display: inline-block;
}

h1 {
    font-weight: bold;
}

#A {
    text-align: center;
}

#B {
    border: 2px solid whitesmoke;
    border-radius: 20px;
    padding: 20px;
    display: inline-block;
    margin-left: 110px;
}

#bc {
    text-decoration: underline 1px whitesmoke;
}
