.phone{
    visibility: collapse;
}

.pc{
    visibility: visible;
}

body {
    background-color: #f8f9fa;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 10px;
}

img{
    border: 2px solid black;
    display: inline-block;
}

h1 {
    font-weight: bold;
}

#A {
    text-align: center;
}

#C {
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    display: inline-block;
    margin-left: 580px;
}

#D{
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    display: inline-block;
    margin-left: 1285px;
    margin-top: 25px;
}

#a {
    text-align: center;
}

#c {
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    display: inline-block;
    margin-left: 0 auto;
}

#d{
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    display: inline-block;
    margin-left: 0 auto;
    margin-top: 5px;
}

@media only screen and (max-width: 430px ){
    .pc{
        visibility: collapse;
    }

    .phone{
        visibility: visible;
    }
}
