body {
    background-color: #f8f9fa;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 20px;
}

img{
    border: 1px solid black;
    display: inline-block;
}

h1 {
    font-weight: bold;
}

#A {
    text-align: center;
}

#C {
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    display: inline-block;
    margin-left: 550px;
}

#D{
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    display: inline-block;
    margin-left: 1260px;
    margin-top: 50px;
}
